.title-home {
  font-size: 24px;
  color: #333;
}

.parag-home {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.button--home {
  background-color: #0074d9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
